@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
a{cursor:pointer;}
.icon{width:22px; height:22px; vertical-align:middle; display:inline-block; font-family:iconfont; font-style:normal; position:relative; font-size:16px;}
.ui-checkbox,.ui-radio{height:16px; width:16px; display:inline-block; vertical-align:0; margin:0;}
.ui-textfield,.ui-textarea,.ui-select{box-sizing:border-box; resize:none; border:1px #CCC solid; border-radius:1px; width:200px; padding:3px 5px; font-size:13px;}
.ui-textfield,.ui-select{height:28px; line-height:28px; vertical-align:middle;}
.ui-textfield:hover,.ui-textarea:hover,.ui-select:hover{border-color:#0086B6; background-color:#EFFAF7;}
.ui-button{box-sizing:border-box; padding:5px 15px; border-radius:3px; display:inline-block; font-size:12px; border-radius:1px; cursor:pointer; vertical-align:middle;}
.ui-button,a.ui-button{background-color:#2EA2CC; color:#fff; border:0;}
.ui-button:hover{background-color:#1e8cbe; color:#fff;}

.ui-table{}
.ui-table th,.ui-table td{padding:10px 0; font-size:12px; text-align:left; padding-right:10px;}

.ui-overlayer{position:fixed; left:0; top:0; z-index:999; opacity:0.4; background:#000; width:100%; height:100%;}
.ui-dialog {width:400px; background:#fff; box-shadow:3px 3px 7px #999; border-radius:3px; position:fixed; z-index:9999; overflow:hidden; border:1px #999 solid;}
.ui-dialog .dialog-title {font-size:14px; position:relative; padding:6px 10px; border-bottom:1px #ddd solid; background-image:linear-gradient(#fff, #eee); background-color:#f9f9f9; font-weight:500;}
.ui-dialog .dialog-title .close{font-size:14px; position:absolute; right:10px; top:8px; cursor:pointer; width:auto; height:auto; margin:0; padding:0;}
.ui-dialog .dialog-title .close:hover{color:#930;}
.ui-dialog .dialog-title strong{font-weight:500;}
.ui-dialog .dialog-content {padding:20px 30px; clear:both;}
.ui-dialog .dialog-footer {padding:10px; position:relative; border-top:1px #f0f0f0 solid; background:#f8f8f8; text-align:right;}
.ui-dialog .dialog-footer .ui-button-no{background-color:#f8f8f8; margin-left:10px; color:#666; border:1px #DDD solid;}
.ui-dialog .dialog-footer .ui-button-no:hover{background-color:#e8e8e8; color:#333;}
.ui-dialog .content-confirm{text-align:center; font-size:14px; padding:10px 0;}
.ui-dialog .content-success{font-size:14px; color:#060;}
.ui-dialog .content-error{font-size:14px; color:#C30;}

.ui-message-box{display:block; position:fixed; z-index:99999; border-radius:3px; box-shadow:2px 2px 5px #999;}
.ui-message-box .message-div{padding:15px 20px; border-radius:3px; color:#fff; white-space:nowrap;}
.ui-message-box .message-success {background-color:#70B46E;}
.ui-message-box .message-error {background-color:#CB5B52;}
.ui-message-box .message-warning {background-color:#FAA722;}
.ui-message-box .message-infomation {background-color:#53A9C2;}
.ui-message-box .message-text{font-size:15px; display:inline;}
.ui-message-box .message-icon{font-size:18px; width:auto; height:18px; line-height:18px; margin:1px 6px 0 0; float:left; display:inline-block; vertical-align:middle;}

.ui-confirm-box {width:180px; background:#fefefe; border:#d5d5d5 1px solid; border-radius:3px; box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);}
.ui-confirm-box dl{clear:both;}
.ui-confirm-box dl dt{padding:20px 15px 0; font-size:12px; line-height:1.0; margin:0; text-align:center;}
.ui-confirm-box dl dd{padding:15px; clear:both; text-align:center; margin:0;}
.ui-confirm-box dl dd .btn{display:inline-block; cursor:pointer; height:22px; line-height:22px; padding:0 10px; border-radius:3px;}
.ui-confirm-box dl dd .btn-yes{background:#80BF1D; color:#fff; border:1px #80BF1D solid;}
.ui-confirm-box dl dd .btn-yes:hover{background:#64A402; border:1px #64A402 solid;}
.ui-confirm-box dl dd .btn-no{margin-left:10px; background-color:#fefefe; color:#333; border:1px #E2E2E2 solid;}
.ui-confirm-box dl dd .btn-no:hover{background-color:#f8f8f8;}

.ui-tips-box{position:absolute; z-index:500; background-color:#000; border-radius:3px; padding:7px 10px; font-size:10px; line-height:1.0; color:#fff;}
.ui-tips-arrow{position:absolute; z-index:500; background-image:url(../images/common/arrow-down.png); background-repeat:no-repeat; background-size:100% 100%; width:16px; height:16px; display:block;}

.ui-loading-box{position:absolute; z-index:9999; background:#fff; border:2px #999 solid; border-radius:20px; padding:10px 20px; font-size:14px; text-align:center;}
.ui-loading-box .ico{margin-right:5px; vertical-align:-2px; background:url(../images/common/loading16.gif) no-repeat; width:16px; height:16px; display:inline-block;}
.ui-message-warp{width:980px; margin:40px auto 20px; clear:both; background:#fff; border:1px #ddd solid; border-radius:5px; min-height:300px; height:auto;}
.ui-message-warp .message-content{margin:0 auto; min-height:200px; padding:50px 0;}
.ui-message-warp .message-content:after{clear:both; display:block;}
.ui-message-warp .message-detail{font-size:20px; padding:20px; clear:both; text-align:center;}
.ui-message-warp .message-detail .icon{font-size:22px; margin-right:10px; vertical-align:1px;}
.ui-message-warp .message-success{color:#363;}
.ui-message-warp .message-error{color:#F00;}
.ui-message-warp .meesage-warning{color:#666;}
.ui-message-warp .message-information{color:#396;}
.ui-message-warp .message-tips{width:80%; padding:7px 0; margin:0 auto; clear:both; line-height:1.6; font-size:12px; color:#444; text-align:center;}
.ui-message-warp .message-links{padding:10px; text-align:center; font-size:14px; clear:both; margin-top:20px;}
.ui-message-warp .message-links a{margin:0 5px;}
.ui-message-warp .message-links a:hover{text-decoration:underline;}
.ui-sortable-placeholder {border:2px #0099CC dashed !important; visibility: visible !important; display:block !important; background:none !important;}
/**图片选择器**/
.ui-image-pickview {width:690px; height:400px; overflow:hidden; display:block;}
.ui-image-pickview .pickview-tabs{display:block; position:relative; border-bottom:1px #ccc solid; margin-bottom:10px;}
.ui-image-pickview .pickview-tabs a{display:block; padding:5px 10px; border:1px #ccc solid; border-bottom:0; cursor:pointer; font-size:12px; display:inline-block; margin-right:5px;}
.ui-image-pickview .pickview-tabs a.cur{background:#24A1CE; color:#fff; border:0; margin-bottom:-1px;}
.ui-image-pickview .pickview-albums{display:block; margin-bottom:10px; font-size:12px; position:relative;}
.ui-image-pickview .pickview-button{background-color:#24A1CE; border-radius:3px; font-size:12px; color:#fff; padding:5px 15px; position:absolute; top:0; right:0; cursor:pointer;}
.ui-image-pickview .pickview-button:hover{background-color:#1e8cbe;}
.ui-image-pickview .pickview-div{width:710px; height:320px; overflow-x:hidden; overflow-y:auto;}
.ui-image-pickview .pickview-item-list{display:block; margin:0 -5px; width:700px;}
.ui-image-pickview .pickview-item-list li{width:20%; float:left; box-sizing:border-box; cursor:pointer; margin:5px 0;}
.ui-image-pickview .pickview-item-list .box{display:block; background-size:cover; margin:0 5px; padding-top:90%; position:relative; border:3px #CCC solid; box-sizing:border-box;}
.ui-image-pickview .pickview-item-list .box img{width:100%; height:100%; display:block; position:absolute; left:0; top:0;}
.ui-image-pickview .pickview-item-list .box .icon{margin:0; font-size:12px; color:#fff; background-color:#090; border-radius:100%; position:absolute; top:5px; right:5px; display:none; width:20px; height:20px; line-height:20px; text-align:center;}
.ui-image-pickview .pickview-item-list li.checked .box{border-color:#090;}
.ui-image-pickview .pickview-item-list li.checked .box .icon{display:block;}

.ui-image-pickview .pickview-upload{display:block; height:300px; position:relative; border:1px #ccc dashed;}
.ui-image-pickview .pickview-upload .label{display:block; height:300px; position:relative;}
.ui-image-pickview .pickview-upload .label .btn{width:100%; text-align:center; position:absolute; top:35%; font-size:18px;}
.ui-image-pickview .pickview-upload .loading{background:url(../images/common/ajax_loader.gif) center 100% no-repeat; display:none; padding-bottom:16px; text-align:center; font-size:16px; top:35%; width:100%; position:absolute;}
.ui-image-pickview .pickview-input-file{position:absolute; left:0; top:0; width:100%; height:100%; z-index:100; opacity:0; cursor:pointer;}
.ui-image-pickview .pickview-pages{display:block; padding:10px; text-align:center;}
.ui-image-pickview .pickview-pages a,.ui-image-pickview .pickview-pages span{display:inline-block; margin:0 3px; padding:5px 10px;}
.ui-image-pickview .pickview-pages .cur{background-color:#24A1CE; color:#fff;}
